{% extends 'todo/layout.html' %}

{% block body %}


	<h1>1. FUNDAMENTOS DEL LENGUAJE</h1>
	
	<li></li>
	
	 <p><h2>Competencias Especificas</h2>
	 
	 <li></li>
	 
	 Identifica y aplica la sintaxis y estructuras básicas del lenguaje de programación para familiarizase con el entorno del lenguaje.
	 
	 <li></li>
	 
	<h2>Genéricas</h2>
	<li>-Solución de problemas</li>
	
	<li></li>
	
	<li>-Capacidad crítica y autocrítica</li>
	
	<li></li>
	
	<li>-Trabajo en equipo</li>
	
	<li></li>
	
	<li>-Habilidades interpersonales.</li>
	
	<li></li>
	
	<li>-Capacidad de aplicar los conocimientos en la práctica</li>
	
	<li></li>
	
	<li>-Capacidad de generar nuevas ideas (creatividad)</li>
	
	<li></li>

	<li></li>

	<h2>Actividades de aprendizaje</h2>
	
	<li></li>
	
	<li>-Discusión guiada referente al uso de los lenguajes de programación en la solución de problemas mediante la computadora.</li>
	
	<li></li>
	
	<li>-Exploración web que permita conocer los diversos lenguajes de programación, según el tipo de problema que se desea resolver.
	<li>	
		
	<li>-Exploración de campo que permita identificar los principales lenguajes de programación utilizados
	por las compañías desarrolladoras de software.</li>
	
	<li></li>
	
	<li>-Exploración web y documental sobre la sintaxis y estructuras del lenguaje de programación.</li>
	
	<li></li>
	
	<li>-Resolver problemas propuestos para aplicar la sintaxis y estructuras de programación mediante el lenguaje seleccionado.</li>
	
	</p>



<li></li>

<li></li>

	
	<br>
	<a href="{% url 'home' %}">REGRESAR</a>


{% endblock %}
