{% extends 'todo/layout.html' %}

{% block body %}


	<h1>1.1 Programacion orientada a eventos</h1>
	
	<li></li>
	
	 <p><h2>Objetivo</h2>
	 El trabajo identificará conceptos de programación orientada al evento confrontándola con lenguajes visuales y orientados a
	objetos, asimismo, y manejará el ambiente de desarrollo de Visual Basic en la construcción de interfaces gráficas para d
	demostraciones de eventos.
	
	<li></li>
	
	<h2>Introducción</h2>
	<li>Los lenguajes visuales orientada al evento y con manejo de componentes dan al usuario que no cuenta con mucha experiencia
	en desarrollo, la posibilidad de construir sus propias aplicaciones utilizando interfaces gráficas sobre la base de ocurrencia de
	eventos.</li>
	
	<li></li>

	<li>Para soportar este tipo de desarrollo interactuan dos tipos de herramientas, una que permite realizar diseños gráficos y , un
	lenguaje de alto nivel que permite codificar los eventos. Con dichas herramientas es posible desarrollar cualquier tipo de
	aplicaciones basadas en el entorno.</li>
	
	<li></li>
		
	<li>Visual Basic es uno de los lenguajes de programación que más entusiasmo despiertan entre los programadores de computadoras,
	tanto expertos como novatos. En el caso de los programadores expertos por la facilidad con la que desarrollan aplicaciones
	complejas en poquísimo tiempo (comparado con lo que cuesta programar en Visual C++, por ejemplo). En el caso de los programadores
	novatos por el hecho dever de lo que son capaces a los pocos minutos de empezar su aprendizaje.</li>
	
	<li></li>
	
	<li>El precio que hay que pagar por utilizar Visual Basic es una menor velocidad o eficiencia en las aplicaciones.</li>
	
	<li></li>

	<li>Visual Basic es un lenguaje de programación visual, también llamado lenguaje de 4ta. generación. Esto quiere decir que un gran
	número de tareas se realizan sin escribir código, simplemente con operaciones gráficas realizadas con el ratón sobre la
	pantalla.</li>
	
	<li></li>

	<li>Visual Basic es también un programa basado en objetos, aunque no orientado a objetos como Visual C++. La diferencia está en que
	Visual Basic utiliza objetos con propiedades y métodos, pero carece de los mecanismos de herencia y polimorfismo propios de los
	verdaderos lenguajes orientados a objetos como Java y C++.</li>
	
	<li></li>

	<li>En este trabajo se presentará las características generales de Visual Basic, junto con algunos ejemplos sencillos que den idea
	de la potencia del lenguaje orientado a eventos, y del modo en que se utiliza.</li>
	
	<li></li>
	
	<li></li>

	
	<br>
	<a href="{% url 'home' %}">REGRESAR</a>


{% endblock %}
