{% extends 'todo/layout.html' %}

{% block body %}


	<h1>1.2 Objetos,controles y componentes</h1>
	
	<li></li>
	
	 <p><h2>Objetos</h2>
	 <li>Un objeto es todo lo que se puede colocar en la mesa de trabajo. Una vez agregado un elemento visual (por ejemplo, una imagen,
	 archivo multimedia, control u objeto 3D) a la mesa de trabajo, éste se convierte en un objeto del prototipo. Los objetos
	 funcionan del mismo modo en los prototipos SketchFlow que en otros proyectos de Microsoft Expression Blend.</li>
	 
	 <li></li>
	 
	 <li>Existen varias formas de agregar objetos a un prototipo. Puede dibujar objetos directamente en la mesa de trabajo, agregar
	 objetos desde el panel Herramientas o insertar objetos que haya importado a Expression Blend.
	 Una vez que haya agregado objetos a la mesa de trabajo, puede modificarlos u organizarlos de la forma que le resulte más cómoda.
	 Para obtener más información, vea Dibujar objetos.</li>
	
	<li></li>
	
	<h2>Controles</h2>
	
	<li></li>
	
	<li>Los controles (o elementos de diseño de la interfaz de usuario) son los componentes visibles de un prototipo. Puede agregar
	controles directamente a la mesa de trabajo, incluidos controles personalizados. También puede convertir objetos existentes en
	controles.</li>
	
	<li></li>
	
	<li>Puede crear un UserControl a partir de un objeto o grupo de objetos en la mesa de trabajo y, a continuación, agregarlo como un
	nodo componente al flujo de la aplicación. Esto resulta especialmente útil si tiene un UserControl (por ejemplo, una barra de
	navegación) que desea usar en varias pantallas diferentes.</li>
	
	<li></li>
	
	<h2>Componentes</h2>

	<li>Un componente es una clase que implementa la interfaz System.ComponentModel.lComponent o se deriva directamente o
	indirectamente de un clase que implementa lcomponent. Un componente de .NET Franmework es un objeto que es reutilizable, puede
	interactuar con otros objetos y proporciona control sobre recursos externos y compatibilidad en tiempo de diseño</li>
	
	<li></li>
	
	<li></li>

	
	<br>
	<a href="{% url 'home' %}">REGRESAR</a>


{% endblock %}
