{% extends 'todo/layout.html' %}

{% block body %}


	<h1>1.3. Tecnología .NET.</h1>
	
	<li></li>
	
	 <p><h2></h2>
	 <li>La tecnología .Net en general ha revolucionado el mundo del desarrollo de software cumpliendo con su premisa de conectar
	 personas, dispositivos y sistemas sobre internet. La respuesta de .Net a las necesidades del mercado son prácticamente en tiempo
	 real, las empresas y los profesionales deben estar al día con los avances y nuevas técnicas que introduce esta plataforma. Pero,
	 ¿por qué tantas versiones del Framework? ¿Por qué todo va tan rápido? hmmm prefiero quedarme con lo que tengo....</li>
	 
	 <li></li>
	 
	 <li>Desde el principio .Net ha sido la apuesta de Microsoft por una plataforma de desarrollo que permitiera sacar el máximo
	 provecho de los protocolos abiertos (W3C, HTTP, SOAP, etc.), la conectividad que da internet y la integración de XML. Con todo 
	 esto en mente fue desarrollada la primera versión del .Net Framework en el año 2002, la cual marcó el inicio de una forma de
	 trabajo mucho más flexible que soportaba diferentes lenguajes de programación y un aumento significativo en la productividad
	 gracias al nuevo Ambiente de Desarrollo Integrado, Visual Studio.</li>
	
	<li></li>
	
	<li>Con las primeras versiones del .Net Framework (1.0 y 1.1) pudimos hacer los primeros desarrollos y pruebas de la tecnología,
	surgieron mejoras y nuevas necesidades que fueron cubiertas en la Versión 2.0. En esta versión encontramos herramientas completas
	que nos permiten realizar tareas comunes de forma rápida, un ejemplo de estas herramientas que viene en forma de Provider es el
	MembershipProvider, un sistema completo de seguridad para aplicaciones ASP.Net, totalmente configurable y parametrizable con un
	modelo de desarrollo fácil y con controles de servidor disponibles. Esta versión marcó la base de lo que seria la evolución en
	capas del .Net Framework.</li>
	
	<li></li>
	
	<li>Entre la versión 1.0 y 2.0 del .Net Framework fuimos testigos de cambios significativos en la estructura principal de la
	tecnología, aquí vimos cómo se adaptó mejor la sintaxis este cambio lo sufrimos todos sobre todo a la hora de intentar migrar
	aplicaciones desarrolladas sobre la versión 1.0 y abrirlas con Visual Studio 2005 (¿recuerdan el asistente de migración? ¡Qué
	horror! , nos cambiaba todo). Esta experiencia hizo que muchos de nosotros no quisiésemos utilizar nuevas versiones del .Net
	Framework.</li>
	
	<li></li>
	
	<li></li>
	

	
	<br>
	<a href="{% url 'home' %}">REGRESAR</a>


{% endblock %}
