{% extends 'todo/layout.html' %}

{% block body %}


	<h1>1.4. Entorno integrado de desarrollo.</h1>
	
	<li></li>
	
	 <p><h2></h2>
	 <li>Un entorno de desarrollo integrado, llamado también IDE (sigla en inglés de integrated development environment), es un
	 programa informático compuesto por un conjunto de herramientas deprogramación. Puede dedicarse en exclusiva a
	 un solo lenguaje de programación o bien puede utilizarse para varios.</li>
	 
	 <li></li>
	 
	 <li>Dec C++, un entorno para el lenguaje de programacion C++</li>
	
	<li></li>
	
	<li>WebDevStudio, un IDE en linea para el lenguaje de programacion C/C++</li>
	
	<li></li>
	
	<li>Un IDE es un entorno de programación que ha sido empaquetado como un programa de aplicación; es decir, consiste en un editor
	de código, un compilador, un depurador y un constructor de interfaz gráfica (GUI). Los IDEs pueden ser aplicaciones por sí solas o
	pueden ser parte de aplicaciones existentes.</li>
	
	<li></li>
	
	<li>Los IDE proveen un marco de trabajo amigable para la mayoría de los lenguajes de programación tales como C++, PHP, Python,
	Java,C#, Delphi, Visual Basic, etc. En algunos lenguajes, un IDE puede funcionar como un sistema en tiempo de ejecución, en donde
	se permite utilizar el lenguaje de programación en forma interactiva, sin necesidad de trabajo orientado a archivos de texto, como
	es el caso de Smalltalk u Objective-C.</li>	
	
	<li></li>
	
	<li></li>
	

	
	<br>
	<a href="{% url 'home' %}">REGRESAR</a>


{% endblock %}
