{% extends 'todo/layout.html' %}

{% block body %}


	<h1>1.5. Tipos de proyectos.</h1>
	
	<li></li>
	
	 <p><h2>Proyectos sociales</h2>
	 
	 <li></li>
	 
	 <li>Son proyectos para lograr alguna obra que beneficie a la comunidad, pueden ser: Con pequeña subvención. El apoyo económico es
	 poco y proviene del mismo equipo de investigación, es manejado por la comunidad que aprenden unos de otros el manejo de grupo, la
	 ejecución y supervisión de proyectos, se reúnen para establecer reglas, ellos mismos administran sus fondos. Los funcionarios
	 ayudan a la comunidad en su proyecto.</li>
	 
	 <li></li>
	 
	 <li>Proyectos apoyados por pequeñas subvenciones. Las ayudas económicas provienen del equipo de investigación y el gobierno. Los
	 funcionarios del gobierno intervienen para que las actividades se cumplan y a si vez opinan sobre cómo se debe administrar el
	 proyecto. Se emplean algunos elementos del proyecto central</li>
	
	<li></li>
	
	<li>Proyectos apoyados exclusivamente por el gobierno. El apoyo económico solo proviene del estado pero incluye algunos elementos
	del proyecto central. La comunidad igualmente presta ayuda en la ejecución de las actividades.</li>
	
	<li></li>
	
	<li><h2>Proyectos de investigación</h2></li>
	
	<li>Tiene relaciones con la teoría existente en el tema y a su vez con el mundo empírico, de esta forma se planea lo que se
	pretende investigar. Sus partes son: planteamiento o formulación del problema, antecedentes, importancia o
	justificación del estudio, elementos teóricos que fundamenten la investigación, objetivos (generales y específicos), metodología,
	esquema o plan de trabajo, cronograma y referencias.</li>
	
	<li></li>
	
	<li><h2>Proyectos de inversión</h2></li>
	
	<li>Están relacionadas con la empresa y la parte comercial los hay de varias clases:</li>	
	
		<li><h3>Inversión privada</h3></li>
		<li>consiste en crear un plan que permita obtener una rentabilidad económica a partir de la inversión de un capital.</li>
		
		<li></li>
		
		<li><h3>Inversión pública</h3></li>
		<li>El estado invierte recursos para lograr el bienestar social de una comunidad a la vez que beneficio económico.</li>
		
		<li></li>
		
		<li><h3>Inversión social:</h3></li>
		<li>Se busca invertir bienes en el desarrollo exclusivamente social sin esperar remuneración económica, sino que los
		beneficios permanezcan después de acabado el proyecto.</li>	
	
	<li></li>
	
	<li><h2>Proyectos de infraestructura</h2></li>
	
	<li>Se invierte en obras civiles, se construye infraestructura que aporte beneficios económicos o sociales.</li>	
	
	<li></li>
	
	<li><h2>Proyectos sociales</h2></li>
	
	<li>Su único fin es mejorar la calidad de vida de una comunidad en sus necesidades básicas como salud, educación, empleo y
	vivienda. El proyecto pronostica y orienta una serie de actividades para conseguir unos determinados objetivos.</li>
	
	<li>Debe contener una descripción de lo que quiere conseguir, debe ser adaptado al entorno en que se piensa desarrollar, los
	recursos necesarios para desarrollarlo y el cronograma en el que se establece el plazo de su ejecución.</li>
	
	<li></li>
	
	<li><h2>Proyectos de desarrollo sostenible</h2></li>
	
	<li>Es un proyecto social y económico de una comunidad que incluye ecología o del medio ambiente como un elemento importante tanto
	para mejorar la economía como para ser protegido durante un largo periodo. Este tipo de proyectos surgió en torno al deterioro en
	el medio ambiente y la intención de que la producción humana no lo impacte de forma negativa. También busca la participación
	equitativa de la sociedad en estos procesos.</li>	
	
	<li></li>
	
	<li></li>
	

	
	<br>
	<a href="{% url 'home' %}">REGRESAR</a>


{% endblock %}
