{% extends 'todo/layout.html' %}

{% block body %}


	<h1>1.7. Estructuras propias del lenguaje: comentarios, constantes, tipos de datos, variables, operadores, sentencias, matrices,
	procedimientos y funciones, estructuras de control, controles básicos.</h1>
	
	<li></li>
	
	 <p><h2>Objetivo</h2>
	 ...
	
	<li></li>
	
	<h2>...</h2>
	<li>...</li>
	
	<li></li>

	<li>...</li>
	
	<li></li>
		
	<li>...</li>
	
	<li></li>
	
	<li>...</li>
	
	<li></li>

	<li>...</li>
	
	<li></li>

	<li>...</li>
	
	<li></li>

	<li>...</li>

	<li></li>
	
	<li></li>
	
	<br>
	<a href="{% url 'home' %}">REGRESAR</a>


{% endblock %}
